doctype html
html(lang="en")
    head
        title Climate API
    body(style={margin: '10%', color: '#ABABAB', 'text-align': 'center', 'font-family': 'Avenir Next,Segoe UI, sans-serif'})
        h1(style={'color': '#FFB902', 'font-size': "7em", 'line-height':'1em'}) &#9728;
        h1(style={color: '#424242', 'font-weight': '600', 'font-size':'1.6em'}) #{name} #{version}
        h1(style={color: '#424242', 'font-weight': '400', 'font-size':'1em'}) #{description} by 
            a(href="http://www.greenhillsustainability.com") Greenhill Sustainability.
        p #{hostname}
        p &copy; #{copyright}